@{
    ViewBag.Title = "News list";
}
@model IList<ArticlesListPageItem>
<div>
    @foreach (var item in Model)
    {
        <hr />
        <h3>@item.Title</h3>
        <p>@item.Text</p>
        <p>@item.Date</p>
    }
</div>
