@{
    ViewBag.Title = "News list";
}
@model IList<ArticlesListPageItem>
<div>
    @foreach (var item in Model)
    {
        <hr />
        <h3>@item.Title</h3>
        <p>@item.Text</p>
        <p>Author: @item.Author</p>
        <p>Date: @item.Date</p>
    }
    <a href="/News/Index?page=@ViewData["NextPage"]&itemCount=1">Next</a>
</div>
