@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li><input type="submit" value="Logout" class="navbar-brand" /></li>
    }
}
else
{
    <li>@Html.ActionLink("Sign up", "Register", "Account", new { }, new { @class = "navbar-brand" })</li>
    <li>@Html.ActionLink("Sign in", "Login", "Account", new { }, new { @class = "navbar-brand" })</li>
} 